@keyframes LateWindowFadein {
	0% {
		transform: translate(0, 100%) scale(0.9);
	}

	50% {
		transform: translate(0, -10%) scale(1.1);
	}

	100% {
		transform: translate(0, 0) scale(1);
	}
}

@keyframes LateWindowFadeout {
	0% {
		display: flex;
		transform: translate(0, 0) scale(1);
	}

	50% {
		display: flex;
		transform: translate(0, -10%) scale(0.5);
	}

	100% {
		display: flex;
		transform: translate(0, 100%) scale(0.2);
	}
}

.late-window {
	--dream-primary-color: #ff1493;
	--dream-primary-color-hover: #ff69b4;
	--dream-primary-color-active: #ff1493;
	--dream-primary-border-color: #ff14936c;
	--dream-primary-outline-color: #ff149333;

	--dream-secondary-color: #faafd5;
	--dream-secondary-color-hover: #f87cba;
	--dream-secondary-color-active: #faafd5;
	--dream-secondary-border-color: #faafd56c;
	--dream-secondary-outline-color: #faafd533;

	--dream-background-color: #f5f5f5;
	--dream-background-color-muted: #e5e5e5;

	--dream-text-color: #fff;
	--dream-text-color-hover: #fff;
	--dream-text-color-active: #fff;
	--dream-text-color-reverse: #233;
	--dream-text-color-muted: #788;

	--dream-error-color: #ff1024;
	--dream-warn-color: #ffc414;
	--dream-info-color: #12cfff;


	@media (prefers-color-scheme: dark) {
		--dream-text-color: #fff;
		--dream-text-color-hover: #fff;
		--dream-text-color-active: #fff;
		--dream-text-color-muted: #fff7;

		--dream-background-color: #233;
		--dream-background-color-muted: #344;
	}


	position: fixed;
	flex-direction: column;
	transition: width 0.3s ease-in-out,
	height 0.3s ease-in-out;
	animation: LateWindowFadein 0.3s ease-in-out;

	&.minimized {
		animation: LateWindowFadeout 0.3s ease-in-out;
	}

	.title-bar {
		border-radius: 8px 8px 0 0;
		font-size: 12px;
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// padding: 2px 4px;
		color: var(--dream-text-color-muted);
		background-color: var(--dream-background-color-muted);

		border-top: 1px solid var(--dream-text-color-muted);
		border-left: 1px solid var(--dream-text-color-muted);
		border-right: 1px solid var(--dream-text-color-muted);

		&>* {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		&>.title {
			user-select: none;
			margin-left: 4px;

			&>.icon {
				pointer-events: none;
				width: 16px;
				height: 16px;
				margin-right: 4px;
			}
		}

		&>.controls>.icon {
			padding: 0;
			border: 0;
			margin: 0;
			width: 30px;
			height: 30px;
			border-radius: 0;
			color: var(--dream-text-color-muted);
			background-color: transparent;
			transition: background-color 0.2s ease-in-out;

			&>svg, &>img {
				margin: auto;
				width: 12px;
				height: 12px;
			}

			&.danger {
				border-radius: 0 8px 0 0;
			}

			&:hover {
				opacity: 1;
				color: var(--dream-text-color-hover);
				background-color: var(--dream-text-color-muted);

				&.danger {
					color: var(--dream-text-color-hover);
					background-color: var(--dream-error-color);
				}
			}

			&:active {
				color: var(--dream-text-color-active);
				background-color: initial;
			}
		}
	}

	.workspace {
		flex: 1;
		width: 100%;
		border-radius: 0 0 8px 8px;
		color: var(--dream-text-color);
		background-color: var(--dream-background-color);
		// padding: 2px 4px;

		border-bottom: 1px solid var(--dream-text-color-muted);
		border-left: 1px solid var(--dream-text-color-muted);
		border-right: 1px solid var(--dream-text-color-muted);

		&>* {
			border-radius: 0 0 8px 8px;
		}
	}

	&.focused {
		.title-bar {
			color: var(--dream-text-color);
			background-color: var(--dream-primary-color);
			border-color: var(--dream-primary-border-color);

			.icon {
				color: var(--dream-text-color);
			}
		}

		.workspace {
			border-color: var(--dream-primary-border-color);
		}
	}

	&.maximized {
		width: 100%;
		height: 100%;
	}
}