/**
 * Dream UI Base styles
 * by LateDream
 */

:root {
	--dream-primary-color: #ff1493;
	--dream-primary-color-hover: #ff69b4;
	--dream-primary-color-active: #ff1493;

	--dream-primary-border-color: #ff14936c;
	--dream-primary-outline-color: #ff149333;

	--dream-secondary-color: #faafd5;
	--dream-secondary-color-hover: #f87cba;
	--dream-secondary-color-active: #faafd5;

	--dream-secondary-border-color: #faafd56c;
	--dream-secondary-outline-color: #faafd533;

	--dream-background-color: #f5f5f5;
	--dream-background-color-muted: #e5e5e5;

	--dream-text-color: #fff;
	--dream-text-color-hover: #fff;
	--dream-text-color-active: #fff;
	--dream-text-color-reverse: #233;
	--dream-text-color-muted: #788;

	--dream-error-color: #ff1024;
	--dream-warn-color: #ffc414;
	--dream-info-color: #12cfff;
}

body {
	// prevent global style polluting
	// margin: 0;
	// padding: 0;
	// width: 100vw;
	// height: 100vh;

	color-scheme: light;

	// color: var(--dream-text-color);
	// background-color: var(--dream-background-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--dream-text-color: #fff;
		--dream-text-color-hover: #fff;
		--dream-text-color-active: #fff;
		--dream-text-color-muted: #fff7;

		--dream-background-color: #233;
		--dream-background-color-muted: #344;
	}

	body {
		color-scheme: dark;
	}
}

button.dream-button, [role="button"].dream-button {
	border: 2px solid;
	border-radius: 6px;
	padding: 6px 12px;
	margin: 0 6px;
	font-size: 1rem;

	color: var(--dream-text-color);
	border-color: transparent;
	outline-color: var(--dream-primary-outline-color);
	background-color: var(--dream-primary-color);

	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out;

	&:hover, &:focus {
		color: var(--dream-text-color-reverse);
		border-color: var(--dream-primary-border-color);
		background-color: var(--dream-primary-color-hover);
	}
		
	&:active {
		color: var(--dream-text-color-active);
		border-color: var(--dream-text-color-active);
		background-color: var(--dream-primary-color-active);
	}

	&[disabled] {
		color: var(--dream-text-color-muted);
		background-color: var(--dream-background-color-muted);
		cursor: not-allowed;
	}

	&.secondary {
		color: var(--dream-text-color-reverse);
		background-color: var(--dream-secondary-color);
		&:hover, &:focus {
			color: var(--dream-text-color);
			border-color: var(--dream-secondary-border-color);
			background-color: var(--dream-secondary-color-hover);
		}
		&:active {
			color: var(--dream-text-color-active);
			border-color: var(--dream-text-color-reverse);
			background-color: var(--dream-secondary-color-active);
		}
	}

	&.icon {
		padding: 0;
		border: 0;
		background-color: transparent;
		transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
		svg, img {
			width: 1.5rem;
			height: 1.5rem;
		}
		&:hover, &:focus {
			opacity: 0.8;
			color: var(--dream-text-color-hover);
			border-color: var(--dream-text-color-reverse);
		}
		&:active {
			opacity: 1;
			color: var(--dream-text-color-active);
			border-color: var(--dream-text-color-active);
		}
	}
}
